:root {
  --dark: #1B212E; /* var(--dark) */
  --light: #ffff; /* var(--light) */
  --primary: #75E4F3; /* Blue var(--primary)*/
  --secondary: #23A863; /* Orange var(--secondary)*/
  --accent: #ED8045; /* Green var(--accent)*/
  --accent-light: #ff9258;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--light);
}


/* Base styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

hr {
  color: var(--light);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(27, 33, 46, 0.8);
  z-index: 100;
}

.logo-svg {
  width: 100px;
  height: 100px;
}

.musical-improv-tag {
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 2rem;
  border-bottom: 1px solid var(--light);
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar a, .navbar a:hover, .navbar a:active, .navbar a:focus  {
  color: var(--light);
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  height: 25px;
  right: 0;
  background-color: var(--dark);
  /* width: 50%; */
  padding: 1rem;
  display: none; /* Hidden by default */
  transition: max-height 0.3s ease;
}

.nav-grow {
  transition: all 0.1s ease;
}
.nav-grow:hover {
  transform: scale(1.2);
}

.nav-links.active {
  display: flex; /* Show nav links when active */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px; /* Arbitrary value to allow space for links */
  width: 80px;
  margin-top: 0;
}

.navbar .nav-links a {
  text-decoration: none;
  color: var(--light);
  padding: 0.75rem 0;
}

.navbar .contact-btn {
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  width: 85px;
  transition: all 0.1s ease-in-out;
  text-align: center;
}

.navbar .contact-btn:hover {
  transform: scale(1.2);
}

.hamburger {
  display: flex; /* Hidden on larger screens */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: var(--light); /* Change color as needed */
  margin: 3px 0;
}

/* Hero section */
.logo {
  transition: all 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  text-align: center;
}

.hero-title {
  /* font-size: 48px; */
  color: var(--light); /* Text color */
  text-shadow: 
    -2px -2px 0 var(--dark),  
     2px -2px 0 var(--dark),
    -2px  2px 0 var(--dark),
     2px  2px 0 var(--dark); /* Adjust the color and size of the shadow */
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 33, 46, 0.3);
  z-index: 1;
}

.hero-content {
  z-index: 2;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-buttons .btn {
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}

.hero-buttons .btn:hover {
  transform: scale(1.1);
}

.primary-btn {
  background-color: var(--primary);
  color: var(--dark);
  width: 20%;
  font-size: 90%;
}

.secondary-btn {
  background-color: var(--secondary);
  color: var(--light);
  width: 20%;
  font-size: 90%;
}

/* Section styles */
section {
  padding: 4rem 2rem;
  text-align: center;
}

section h2 {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-content, .media-content, .merch-content {
  display: flex;
  flex-direction: column; /* Column layout for mobile */
  align-items: center;
  gap: 2rem;
}

.about-content img, .media-content img, .merch-content img {
  width: 100%; /* Full width for images on mobile */
  border-radius: 10px;
  max-width: 600px;
  border: 3px solid var(--secondary)
}

/* .merch-btn {
  border-radius: 5px;
  text-align: center;
  margin: auto;
  background: var(--secondary);
  width: 300px;
  width: 20%;
  line-height: 50px;
  transition: all 0.1s ease;
} */

.std-btn {
  display: block;
  text-decoration: none;
  margin: auto;
  background-color: var(--secondary);
  color: var(--light);
  width: 65%;
  line-height: 65px;
  border-radius: 5px;
  transition: all 0.1s ease;
}

.std-btn:hover {
  transform: scale(1.2);
}

.half-std-btn {
  display: block;
  text-decoration: none;
  margin: auto;
  background-color: var(--secondary);
  color: var(--light);
  width: 65%;
  line-height: 65px;
  border-radius: 5px;
  transition: all 0.1s ease;
}

.half-std-btn:hover {
  transform: scale(1.2);
}

.merch-btn a, .merch-btn a:hover, .merch-btn a:visited, .merch-btn a:active, .merch-btn a:focus {
  text-decoration: none;
  color: var(--light);
}

.ig-grow {
  transition: all 0.1s ease;
}
.ig-grow:hover {
  transform: scale(1.2);
}

.contact a, .contact a:hover, .contact a:visited, .contact a:active, .contact a:focus {
  text-decoration: none;
  color: var(--light);
}

.contact-link {
  border-radius: 5px;
  text-align: center;
  margin: auto;
  /* display: inline-block; */
  background: var(--secondary);
  width: 300px;
  line-height: 50px;
  transition: all 0.1s ease;
}

.contact-link:hover {
  /* display: inline-block; */
  transform: scale(1.2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Full width on mobile */
  margin: 0 auto;
  gap: 1rem;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.contact-form .btn {
  cursor: pointer;
}

.footer-div {
  /* font-size: 12px; */
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
  padding-bottom: 20px;
}

.footer-div a, .footer-div a:hover, .footer-div a:active, .footer-div a:focus  {
  color: var(--light);
  text-decoration: none;
}

.at_offbeat {
  margin-bottom: 10px;
}

.ig-link {
  color: var(--light);
  transition: all 0.1s ease;
}
.ig-link:hover {
  transform: scale(1.2);
}

.ig-span {
  margin-right: 0;
}

.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donate h1 {
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.donate h2 {
  color: var(--secondary);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.donate h3 {
  color: var(--accent-light);
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 80%;
}

/* .donation-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--dark);
  width: 75px;
  height: 25px;
  font-size: 90%;
  border-radius: 5px;
  transition: all 0.1s ease;
} */

/* .donation-div:hover {
  transform: scale(1.2);
} */

/* .donation-div a, .donation-div a:hover, .donation-div a:active, .donation-div a:focus  {
  color: var(--light);
  text-decoration: none;
} */

.donate-btn{
  font-size: 1.5rem;
}

/* Tablet styles */
@media (min-width: 768px) {
  .navbar .nav-links {
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
    display: flex; /* Show menu for tablet and above */
    gap: 1.5rem;
  }

  .navbar .nav-links a {
    padding: 0;
    line-height: 25px;
  }

  .navbar .contact-btn {
    display: inline-block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    /* text-align: center; */
  }

  .hamburger {
    display: none;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .primary-btn, .secondary-btn {
    font-size: 120%;
  }

  .about-content, .media-content, .merch-content {
    flex-direction: row; /* Row layout for tablet and above */
    justify-content: space-between;
  }

  .section-title-content {
    width: 100%;
  }

  .about-content img, .media-content img, .merch-content img {
    width: 40%;
  }

  .footer-div {
    flex-direction: row;
  }

  .ig-span {
    margin-right: 5px;
  }

  .std-btn {
    width: 40%;
  }
  .half-std-btn {
    width: 65%;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .hamburger {
    display: none;
  }

  .hero-content h1 {
    font-size: 4rem;
  }

  .hero-buttons .btn {
    padding: 1rem 2rem;
  }

  .primary-btn, .secondary-btn {
    font-size: 150%;
  }

  section {
    padding: 6rem 4rem;
  }

  .about-content, .media-content, .merch-content {
    gap: 4rem;
  }

  .contact-form {
    max-width: 600px; /* Restrict max-width on larger screens */
  }

  .std-btn {
    width: 32%;
  }
  .half-std-btn {
    width: 50%;
  }
}

.mailchimp {
  color: var(--dark);
}
